.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.panelForm {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    columns: 2;
}

.panelFormAlta {
    flex-grow: 6;
    text-align: center;
    align-items: center;
}

.panelFormBusqueda {
    flex-grow: 4;
    text-align: center;
}

.panel {
    padding: 10px;
    overflow-x: scroll hidden;
}

@media screen and (max-width: 600px) {
    .panelForm {
        columns: 1;
        flex-direction: column-reverse;
    }

    .form-label {
        text-align: center;
    }
}