
.button-login{
  width: 10%;
  margin-left: 65%;
  margin-right: 25%;
  margin-top: 6px;
  text-align: center;
}

#formLogin {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.panel-form-doble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*align-content: space-around;*/
  padding: 1% 5%;
  width: 100%;
}

.panel-form-simple {
  padding: 1% 20%;
}

.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.form-label {
  min-width: 150px;
  text-align: right;
}

.form-input {
  width: 100%;
  min-width: 250px;
  justify-content: flex-start;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1%;
  margin-bottom: 2%;
}

.form-button {
  width: 25%;
  min-width: 150px;
}


.form-buttons .label {
  display: inline-block;
}

.form-buttons .label input  {
  float: end;
}



/*.box {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: column;*/
/*  text-align: center;*/
/*}*/

/*.panelForm {*/
/*  padding: 10px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  flex-direction: row;*/
/*  columns: 2;*/
/*}*/

/*.panelFormAlta {*/
/*  flex-grow: 6;*/
/*  text-align: center;*/
/*  align-items: center;*/
/*}*/

/*.panelFormBusqueda {*/
/*  flex-grow: 4;*/
/*  text-align: center;*/
/*}*/

/*.panel {*/
/*  padding: 10px;*/
/*  overflow-x: scroll hidden;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*  .panelForm {*/
/*    columns: 1;*/
/*    flex-direction: column-reverse;*/
/*  }*/

/*  .form-label {*/
/*    text-align: center;*/
/*  }*/
/*}*/



/*.container {*/
/*  border-radius: 5px;*/
/*  border: 1px solid #000;*/
/*  padding: 20px;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*.col-25 {*/
/*  float: left;*/
/*  width: 35%;*/
/*  margin-top: 6px;*/
/*}*/

/*.col-50 {*/
/*  float: left;*/
/*  width: 50%;*/
/*  margin-top: 6px;*/
/*}*/

/*.col-75 {*/
/*  float: left;*/
/*  width: 65%;*/
/*  margin-top: 6px;*/
/*}*/

/*!* Clear floats after the columns *!*/
/*.form-row:after {*/
/*  content: "";*/
/*  display: table;*/
/*  clear: both;*/
/*}*/

/*!* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other *!*/
/*@media screen and (max-width: 600px) {*/

/*  .form-label,*/
/*  .form,*/
/*  input[type=submit] {*/
/*    width: 100%;*/
/*    margin-top: 0;*/
/*  }*/
/*}*/