
.button-login{
  width: 10%;
  margin-left: 65%;
  margin-right: 25%;
  margin-top: 6px;
  text-align: center;
}

#formLogin {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.panel-form-doble {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*align-content: space-around;*/
  padding: 1% 5%;
  width: 100%;
}

.panel-form-simple {
  padding: 1% 20%;
}

.form-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.form-label {
  min-width: 150px;
  text-align: right;
}

.form-input {
  width: 100%;
  min-width: 250px;
  justify-content: flex-start;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1%;
  margin-bottom: 2%;
}

.form-button {
  width: 25%;
  min-width: 150px;
}


.form-buttons .label {
  display: inline-block;
}

.form-buttons .label input  {
  float: end;
}