.table-box {
    margin: 1%;
}

.table-button {
    width: 50%;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}




th,
td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2e2;
}

tr:hover {
    background-color: #cff0ff;
}

th {
    background-color: #04AA6D;
    color: white;
}