.table-box {
    margin: 1%;
}

.table-double {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /*align-content: space-around;*/
    width: 100%;
}

.table-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.table-double div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.table-button {
    width: 50%;
    min-width: 130px;
}

table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}




th,
td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2e2;
}

tr:hover {
    background-color: #cff0ff;
}

th {
    background-color: #04AA6D;
    color: white;
}